*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    font-family: "Outfit", sans-serif;
    margin: 0;
    background-color: #0D192C;
}

@media screen and (width>768px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.main{
    width: 327px;
    background-color: #15263F;
    border-radius: 15px;
    padding: 24px;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 62px;
}

@media screen and (width>768px) {
    .main{
        width: 350px;
        margin-top: 152px;
        margin-bottom: 152px;
        
    }
}

.imagehover{
    width: 302px;
    height: 302px;
    position: relative;
}


.eye{
    opacity: 1;
    position: absolute;
    top: 125px;
    left: 127px;
}

.image{
    border-radius: 8px;
}

.image::after{
    content: "";
    display: block;
    width: 302px;
    height: 302px;
    background-color: #00FFF8;
}


@media(hover: hover){
    .image{
        width: 302px;
        height: 302px;
        background-color: rgba(0, 255, 247, 0.50);

    }
}

.title{
    color: #FFF;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 12px;
    margin-top: 24px;
}

.description{
    color: #8BACD9;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 16px;
}

.data{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2E405A;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.value{
    color: #00FFF8;
    width: 89px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time{
    color: #8BACD9;
    width: 93px;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: flex-start ;
}
.profilepic{
    width: 33px;
    border-radius: 50%;
    border: 1px solid #FFF;
    margin-right: 16px;
}
.author{
    color: #8BACD9;
    font-weight: 400;
    font-size: 15px;
}

.bold{
    color: #FFF;
    font-weight: 400;
    font-size: 15px;
}

